.body {
  margin-bottom: 50px;
  padding-bottom: 0%;
  
}
.box {
  background-image: url("image/david4.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
   text-align: center;
  padding: auto;
  margin-bottom: 100px;
 }

.box-1 {
  color: white;          /* text color */
  padding: 0;
  margin-top: 20px;      /* auto only works in flex/grid */
}

 .index2 {
   background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
   text-align: left;
   margin-left: 400px;
   margin-top: 50px;
  padding: auto;
  margin-bottom: 100px;
}

